@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Open+Sans:400,700');

body, p{
  font-family:'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5{
  font-family:'Montserrat Alternates', sans-serif;
}


nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

.bold{
  font-weight:700;
}

.page-img{
  /*max-width:600px;*/
  max-width:100%;
}
